---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Get to know Raihana </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    <a href="https://instagram.com/chrnsa_27/" target="_blank" class="underline underline-offset-4 decoration-zinc-400 hover:text-zinc-50 hover:decoration-zinc-200">
                         Raihana Chairunnisa
                    </a>
                    (2003-) adalah wanita pemberani yang menjalani hidup dengan sangat santai,
                    dikenal dengan kemalasannya dan kebiasaan tidur di kelas namun dengan mudah melampai mereka yang selalu terbangun. Dia berhasil membuktikan bahwa ambisi tak selalu membawa kepada kebaikan. Terkadang kita perlu bersantai lalu berapi saat diperlukan.
               </p>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Achievements</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li>Juara 3 lomba memasukan paku kedalam botol sekampung</li>
                    <li>Juara 3 lomba balap karung sekampung</li>
                    <li>Ranking 4 lomba tarik tambang sekampung</li>
                    <li>Ranking 5 lomba makan kerupuk sekampung</li>
                    <li>Ranking 5 lomba cerdas cermat setengah kampung</li>
                    <li>Pemenang berturut-turut main petak umpet setongkrongan</li>
                    <li>Ranking 24 dari 25 siswa di kelas 2 SD</li>
               </ul>
          </div>
     </div>
</InfoLayout>
